.home {
    height: 500px;
    background-color: #081b27;
    width: var(--width-body);
    margin: 0;
    margin-left: -10px;
    height: auto;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}

.bannerImg {
    height: 100%;
    width: 600px;
}

.columBackGround {
    width: var(--width);
    display: flex;
    position: absolute;
    left: 3.3%;
    top: 210px;
    height: auto;
}

.backGroundLeft {
    float: left;
    width: 66%;
    height: 100%;
}

.backGroundRight {
    width: 356px;
    height: 100%;
}

.title {
    width: 840px;
    height: 58px;
    padding-bottom: 3px;
    margin: 5px 0px 5px 60px;
    padding-bottom: 2px;
    color: #fff601;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform: uppercase;
    font: 35px 'baloo 2', cursive;
    line-height: 75px;
    left: 30px;
}

.listTypeFilm {
    list-style-type: none;
    margin: 0;
    font-size: 12px;
    font-family: noto sans, sans-serif, Helvetica, Arial;
    color: #aaa;
    width: 840px;
}

.description {
    font-size: 12px;
    font-family: noto sans, sans-serif, Helvetica, Arial;
    color: #aaa;
    width: 840px;
    margin: 0;
    margin-left: 40px;
}
