.parentMenuNav {
    width: 100%;
}

.title {
    text-transform: uppercase;
    color: #c0abff;
    font: 28px/40px 'UTMCafetaRegular';
    text-align: center;
    margin-top: -5px;
    -webkit-tap-highlight-color: transparent;
}
