.wrapper {
    padding: 3px;
    line-height: 1.5em;
    color: #bbb;
    font-size: 14px;
    overflow: hidden;
    font-family: noto sans, sans-serif, Helvetica, Arial;
    width: 834px;
    height: auto;
    padding-left: 35px;
}
