.buttonContact {
    display: block;
    color: #fff;
    margin-right: 40px;
    background: #5cb85c;
    padding: 10px 12px;
    border-radius: 3px;
    float: right;
    text-align: -webkit-match-parent;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    border: none;
    transform: translateY(30%);
    text-decoration: none;
}
